
body{
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
  background-color: darkgray;
}

header{
  background-image: url("/images/ImgSearch.webp");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  padding: 0;
  text-align: center;
  font-style: normal;
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  height: 3rem;
}

nav ul{
  list-style: none;
  padding: 0;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 300px;
}

nav ul li a{ 
  color: #ade4b5;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: bold;
}

nav ul li a:hover {
  color: orangered;
}

nav ul li a:active {
  color: yellow;
}

a{
  color:dodgerblue;
}

.cabecalho{
    font-family: "Limelight", sans-serif;
    font-weight: 1200;
    font-style: normal;
    font-size: 1.5rem;
    height: 8.5rem;
    padding: 0px;
    background-image: url("/images/fruits.png");
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#intro{
  justify-content: center;
  text-align: center;

}

.main{
  font-family: "Racing Sans One", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("/images/ImgOkay.webp");
  background-size: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

#apresentation{
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#textApresentation{
  justify-content: center;
  align-self: center;
  font-size: 1.3rem;
}

.container{
  font-family: "Racing Sans One", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url('../images/tableFood.png');
  border-radius: 10px;
  margin: 20px auto;
  padding: 0px; 
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.paginaFeed{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  background-image: url("/images/QualityImg.webp");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.pesquisa{
  justify-content: center;
  text-align: center;
}

#pesquisaDado{
  justify-content: center;
  text-align: center;
  padding: 40px;
}

input{
  height: 3rem;
  width: 18rem;
  text-align: center;
  border-radius: 10px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: relative;
  right: 5%;
}

button{
  height: 3rem;
  width: 8rem;
  border-radius: 15px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: relative;
  left: 5%;
}

#informacoesPesquisa{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  padding: 20px;
  font-style: normal;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#informacoesPesquisa p ul li{
  justify-content: left;
  text-align: left;
}

.adicionarItem {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding: 20px;
}

#botaoCadastro {
  width: 300px; 
  margin: 10px 0;
  padding: 10px; 
  font-size: 1rem; 
  border-radius: 15px; 
  background-color: #23615b; 
  color: white;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

#botaoCadastro:hover {
  background-color: rgb(40, 156, 93);
}

#mensagemCadastro {
  margin-top: 10px; 
  font-size: 1rem; 
  color: white;
}

#adicionarProduto{
  margin-top: 30px;
  width: 200px;
}

#resultados{
  background-image: url("/images/Background.webp");
  background-size: auto;
}


#credits{
  position: relative;
  font-size: 1.3rem;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

#links{
  color:forestgreen; 

}

footer{
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}

footer .rodapeFeed {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}

.product-card {
  border: 1px solid #c5b89f;
  border-radius: 8px;
  padding: 16px;
  width: 70%;
  margin: 16px auto;
  background-image: url("/images/fruits.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box; 
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.product-card h2 {
  margin-top: 0;
  color: #d1f7ba;
}

.product-card li {
  color: black;
}

.img-produto {
  height: 400px;
  width: 400px;
  padding: 8px;
}

.nutriscore-grade {
  font-size: 1.2em;
  color: #ff4000;
  margin-bottom: 16px;
}

.nutriscore-details h3 {
  margin-bottom: 8px;
  color: #badda3;
}

.nutriscore-details ul {
  list-style-type: none;
  padding: 0;
}

.nutriscore-details ul li {
  background-color: #fff;
  margin: 4px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.verDados {
  background-color: #1e8c93;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.verDados:hover {
  background-color: darkblue;
}

#rodapeCreditos {
  padding: 10px;

}

#itensNutricionais .nutrItem{
  color: #c5b89f;
}

#dadosAlimento {
  color: #a69e80;
}

#dadosAlimento p {
  overflow-wrap: break-word; /* Quebra palavras longas */
  word-wrap: break-word; /* Compatibilidade com navegadores mais antigos */
  white-space: normal; /* Permite a quebra de linha */
  max-width: 100%; 
}


@media (max-width: 768px) {
  header {
    font-size: 1.3rem; 
  }

  nav ul {
    gap: 40px; 
  }

  .cabecalho {
    font-size: 1rem; 
  }

  #textApresentation {
    font-size: 1rem;
  }

  .container {
    padding: 10px; 
  }

  .paginaFeed {
    font-size: 1rem;
  }


  input, button {
    width: 100%; 
    max-width: none; 
    justify-content: center;
    text-align: center;
  }

  input{ 
    left: 2.5%;
  }

  #botaoPesquisa{
    margin-top: 10px;
  }

  button{
    right: 1.4%;
    width: 60%;
  }

  #formAdicionarProduto{
    justify-content: center;
    text-align: center;
    position: relative;
    right: 4%;
  }

  .product-card {
    width: 100%;
    max-width: 100%; 
  }

  .product-card .img-produto {
    max-width: 80%;
    max-height: 40%;
  }
}